.main_h{
    display: flex;
    justify-content:center ;
    position: relative;
    top: 800px;
    left: 100px;
    
}
.heart{
    display: flex;
    transform: scale(1.5);
    position: relative;
    justify-content:center ;
  
}
.heart .span1{
    width: 80px;
    height: 120px;
    background: rgb(255, 0, 0); 
    border-top-left-radius:50px; 
    border-top-right-radius: 50px;
    transform: rotate(-45deg)
}
.heart .span2{
    width: 80px;
    height: 120px;
    background: rgb(255, 0, 0); 
    border-top-left-radius:50px; 
    border-top-right-radius: 50px;
    transform: rotate(45deg);
    position:relative;
    right: 50px;
}


.heart:hover{
    transform: scale(3);
    transition: 2s;
}
.text{
    text-decoration: dotted;
    font-size: xx-large;
    position: relative;
    top: 700px;
    left: 480px;
}